body
{
    background-color: #041721;
    font-family: Montserrat, sans-serif;
}

.coul_jaune
{
    color: #ffde3c;
}

.coul_bleu
{
    color: #041721;
}

.coul_gris
{
    color:#dadada;
}


/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

.container {
}


/* CAROUSEL*/

.movie_title
{
font-weight: bolder;
font-size: 5vw;
margin-bottom: 28%;
text-align: left;
}

.movie_annee
{
    font-weight: bolder;
    font-size: 1.5vw;
    margin-bottom: 26%;
    text-align: left;
}

.movie_separateur_1
{
    font-weight: bolder;
    font-size: 1.5vw;
    margin-bottom: 26%;
    text-align: left;
    margin-left: 7%;
}

.movie_separateur_2
{
    font-weight: bolder;
    font-size: 1.5vw;
    margin-bottom: 26%;
    text-align: left;
    margin-left: 22%;
}


.movie_categorie
{
    font-weight: bolder;
    font-size: 1.5vw;
    margin-bottom: 26%;
    text-align: left;
    margin-left: 11%;
}

.movie_rank
{
    font-weight: bolder;
    font-size: 1.5vw;
    margin-bottom: 26%;
    text-align: left;
    margin-left: 27%;
}

.movie_review
{
    display : block;
    width: 20%;
    height: auto;
    margin-bottom: 30%;
    margin-right: 80%;
}

.movie_tag
{
    margin-bottom: 50%;
    width: 10%;
    height: auto;
    float: left;
    margin-left: 2%;
}

.movie_affiche
{
    opacity: 50%;
}


/* SECTION */

#popular_movies
{
    color : white;
    padding-top: 10%;
    padding-bottom: 10%;
}

.popular
{
    color: white;
    font-size: 2em;
    text-align: center;
}

.popular_image
{
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.popular_desc
{
    color: white;
    font-size: 0.8em;
    text-align: center;
    vertical-align: center;
}

.popular_title
{
    color: white;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    margin-top: -20px;
}

.popular_link
{
    color: white;
}

#latest_review
{
    background-color: white;
}

.lr_latest
{
    font-size: 2.5em;

}

.lr_more
{
    font-size: 1em;
vert-align: middle;

}


#top_5
{
    background-color: darkgray;
}

.bg-jaune
{
    background-color: #ffde3c;
}

.bg-gris
{
    background-color: darkgray;
}

.top5_1st
{
    width: 95%;
    height: auto;
}

.top5_second
{
    width: 48%;
    height: auto;
    padding-left: 5%;

    padding-bottom: 5%;
}

.form_size
{
vertical-align: middle;
    align-content: center;
}